
/*global navigation styles*/
body{
  
    background-color:lightblue;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
/*heading and logo styles*/
.logo{
    width: 30px;
    padding-left:10px;
    
}
h1{
    display: inline;
    color:white;
    margin:0;
    padding:0;
    font-weight: lighter;
}

/*header navigation styles*/
.nav-bar{
     position: -webkit-sticky;
    position: sticky;
    top:0;
}

.header_nav{
   
    background-color:black;
     list-style: none;
     margin: 0;
     padding: 10px;
    
   
}

.header_nav>li{
 color:white;
 display: inline;
 padding-left: 30px;
 padding-right: 30px;
 padding-top: 10px;
 padding-bottom: 10px;
 font-size: large;

 

}
.header_nav>li:hover{
    background-color:rgb(73,80,80);
}

/*article section styles*/

.article_section{
   
    background-color:skyblue;
    margin: 10px;
    display: grid;
   grid-template-columns: auto auto auto ;
   
    
}
.article-1{
    grid-column-start: 1;
    grid-column-end: 4;
}




.article_heading{
    color:blue;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-weight: bolder;
   
}


.article-text{
    color:black;
  
   
}

.article-image{
    width: 300px;
    float: left;
}

/*topic styles*/
.topic-image{
    width: 200px;

}


/*footer nav styles*/
h4{
    color:white;
    padding:0;
    margin:0;
}
.footer_nav{
   display: flex;
   flex-direction: column;
    padding: 0;
    list-style: none;
    background-color:black;
    margin: 0;
    align-items: center;
   

}

.footer_nav>li{
    padding: 3px;
    margin: 10px;
    color:white;
}

.footer_nav>li:hover{
    background-color:gray;
}
@media screen and (max-width:540px){

    /*heading and logo styles*/
.logo{
    width: 30px;
    padding-left:10px;
    
}
h1{
    display: inline;
    color:white;
    margin:0;
    padding:0;
    font-weight: lighter;
    font-size: x-large;
}


/*header navigation styles*/
.nav-bar{
   position: -webkit-sticky;
   position: sticky;
   top:0;
}

.header_nav{
   background-color:black;
    list-style: none;
    margin:0;
    padding: 0;
    padding-top: 8px;
    padding-bottom: 8px;
   
  
}

.header_nav>li{
color:white;
display: inline;
font-size: xx-small;
padding-top:14px;



}
.header_nav>li:hover{
   background-color:rgb(73,80,80);
}

/*article section styles*/

.article_section{
   
    background-color:skyblue;
    margin: 10px;
    display: block;
    
}





.article_heading{
    color:blue;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-weight: bolder;
    font-size: small;
   
}


.article-text{
    color:black;
    font-size: x-small;
   
}

.article-image{
    width: 100px;
    float: left;
}

/*topic styles*/
.topic-image{
    width: 100px;

}
.topic-text{
    font-size: smaller;
}
  
    
}