body{
    background-color: rgb(0, 0, 1);
    margin: 0;
    padding: 0;
    border: 0;
}



.header_nav{
    background-color:black;
     list-style: none;
     margin: 0;
     padding: 0;
   
}

.header_nav>li{
    color:white;
   display: block;
   width: 100%;
   

}
.header_nav>li:hover{
    background-color:gray;
}

h1{
    color:white;
     
    margin-right: 30%;
}

.article_section{
    display:flex;
    background-color: black;
    border:  aqua dotted 4px;
    margin: 10px;
    
}

.article_heading{
    color:yellow;
    padding: 0;
    margin: 0;
    text-decoration: none;
   
}
.article{
    color:white;
   
   
}

h4{
    color:white;
    padding:0;
    margin:0;
}
.footer_nav{
   display: flex;
   flex-direction: column;
    padding: 0;
    list-style: none;
    background-color:black;
    margin: 0;
    align-items: center;
   

}

.footer_nav>li{
    padding: 3px;
    margin: 10px;
    color:white;
}

.footer_nav>li:hover{
    background-color:gray;
}
@media screen and (max-width:540px){
    h1{
        color:white;
         
        margin-right: 0;
        display:block ;
    }
    .header_nav{
     background-color:black;
      
       padding:10px;
       margin:0;
       
    }
    .header_nav>li{
        
        list-style: none;
        display: inline;
        padding: 10px;
        border: none;
        color: white;
        
    
    }
    .footer_nav>li{
        visibility: hidden;
    }
    
}